#player
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  z-index: 999
  #overlay
    background: #111
    opacity: .9
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
  iframe
    position: absolute
    left: 50%
    top: 50%
    margin-left: -560px * 0.5
    margin-top: -315px * 0.5
