- @title     = "Artist ｜ 創作者"
- @mainClass = "artist"
- @url       = "artist"
- @slug      = "artist"

article.artist-profile
  = render 'artist/profile'
article.artist-group
  = render 'artist/group'
