/*
Syntax error: Undefined variable: "$highlight".
        on line 7 of /Users/sorarize/Sites/emptied-memories/sass/echo.scss

Backtrace:
/Users/sorarize/Sites/emptied-memories/sass/echo.scss:7
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/script/variable.rb:49:in `_perform'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/script/node.rb:40:in `perform'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/Applications/Fire.app/Contents/Resources/lib/ruby/common/sass-3.2.6/lib/sass/engine.rb:262:in `render'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:113:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/compiler.rb:132:in `timed'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:112:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/logger.rb:46:in `red'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:111:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/compiler.rb:124:in `compile_if_required'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/compiler.rb:109:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/compiler.rb:107:in `run'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/compiler.rb:132:in `timed'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/lib/compass/compiler.rb:106:in `run'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:37:in `perform'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/ui/tray.rb:407:in `build_project'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/app.rb:205:in `try'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/ui/tray.rb:391:in `build_project'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/ui/tray.rb:382:in `build_project_handler'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/ui/tray.rb:79:in `run'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/main.rb:93:in `(root)'
org/jruby/RubyKernel.java:1062:in `require'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/main.rb:1:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$highlight\".\A         on line 7 of /Users/sorarize/Sites/emptied-memories/sass/echo.scss"; }
